PORT=3000

DB_HOST=<DATABASE_HOST>
DB_PORT=5432
DB_USER=<DATABASE_USER>
DB_PASSWORD=<DATABASE_PASSWORD>
DB_NAME=cloudticket_v2

AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_DEFAULT_REGION=ap-southeast-2

LOCALSTACK_AUTH_TOKEN=<LOCALSTACK_AUTH_TOKEN>

SQS_QUEUE_NAME=cloudticket-order-events