PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=cloudticket_v2

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=ap-southeast-2

LOCALSTACK_AUTH_TOKEN=your_localstack_auth_token

SQS_QUEUE_NAME=cloudticket-order-events